<section class="fsection">
  <h2 class="title">I'm looking for..</h2>

  <div>
    <input class="search" type="text" placeholder="Enter a Job Description">
    <button>Search</button>
    <div class="sub"> <input type="checkbox" />Full Time
      <input type="checkbox" />Part Time/Casual/Freelance

      <select class="location">
        <option>Select your Location</option>
        <option>Mumbai</option>
        <option>Pune</option>
        <option>Delhi</option>
      </select>
    </div>

  </div>
  <a (click)="openRegistrationForm()">Register</a>
</section>

<!-- Section 2: Text Content -->
<section class="msection">
  <h3>We're leaders in</h3>
  <h2>Creative Digital Recruitment</h2>
  <p>Based in Surry Hills,the creative hub of Sydney we are surrounded by creativity</p>
  <p class="subtext"> and that reflects on the type of jobs we recruit for.</p>
  <a class="bottom">FIND OUT MORE ABOUT US!</a>
</section>
      