section {
    background-color: black;
    height: 200px;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    
}
input{
    border: 3px solid rgb(108, 180, 243);
    border-right: hidden;
    background-color: black;
    color: whitesmoke;
   font-size: small;
    font-weight: bold;
    padding:2px ;
    width:14% ;
}
button{
    border: 3px solid rgb(108, 180, 243);
    border-left: hidden;
    padding:2px ;
    background-color: wheat;
    font-size: small;
}
p{
    margin-top: 90px;
}